In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn
import plotly.express as px

In [20]:
df = pd.read_csv(r"C:\Users\nithy\OneDrive\Desktop\IBM project\dac.csv")

In [25]:
print(df.columns)
print(df.head())  # Print the first few rows to get an overview of the data
print(df.shape)  # Check the dimensions of the dataset
df.head()
df.tail()

Index(['Row', 'Day', 'Day.Of.Week', 'Date', 'Page.Loads', 'Unique.Visits',
       'First.Time.Visits', 'Returning.Visits'],
      dtype='object')
   Row        Day  Day.Of.Week       Date Page.Loads Unique.Visits  \
0    1     Sunday            1  9/14/2014      2,146         1,582
1    2     Monday            2  9/15/2014      3,621         2,528
2    3    Tuesday            3  9/16/2014      3,698         2,630
3    4  Wednesday            4  9/17/2014      3,667         2,614
4    5   Thursday            5  9/18/2014      3,316         2,366

  First.Time.Visits Returning.Visits
0             1,430              152
1             2,297              231
2             2,352              278
3             2,327              287
4             2,130              236
(2167, 8)

,Row,Day,Day.Of.Week,Date,Page.Loads,Unique.Visits,First.Time.Visits,Returning.Visits
2162,2163,Saturday,7,8/15/2020,"2,221","1,696","1,373",323
2163,2164,Sunday,1,8/16/2020,"2,724","2,037","1,686",351
2164,2165,Monday,2,8/17/2020,"3,456","2,638","2,181",457
2165,2166,Tuesday,3,8/18/2020,"3,581","2,683","2,184",499
2166,2167,Wednesday,4,8/19/2020,"2,064","1,564","1,297",267

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2167 entries, 0 to 2166
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Row                2167 non-null   int64
 1   Day                2167 non-null   object
 2   Day.Of.Week        2167 non-null   int64
 3   Date               2167 non-null   object
 4   Page.Loads         2167 non-null   object
 5   Unique.Visits      2167 non-null   object
 6   First.Time.Visits  2167 non-null   object
 7   Returning.Visits   2167 non-null   object
dtypes: int64(2), object(6)
memory usage: 135.6+ KB

In [ ]:
# Convert the date column to a datetime format if needed
df['Day'] = pd.to_datetime(df['Day'])

# Set the date column as the DataFrame index
df.set_index('Day', inplace=True)

# Compute basic statistics
ts_mean = df['Returning.Visits'].mean()
ts_std = df['Returning.Visits'].std()

# Plot the time series
df['Returning.Visits'].plot()
plt.xlabel('Day')
plt.ylabel('Returning.Visits')
plt.title('Unique.Visits')
plt.show()

In [ ]:
from sklearn.cluster import KMeans

# Select the relevant features for segmentation
features = ['engagement_metric_1', 'engagement_metric_2', 'engagement_metric_3']
X = df[features]

# Perform K-means clustering
kmeans = KMeans(n_clusters=3)
kmeans.fit(X)

# Add the cluster labels to the DataFrame
df['cluster'] = kmeans.labels_

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

# Select the features and target variable
features = ['feature1', 'feature2', 'feature3']
target = 'target_variable'
X = df[features]
y = df[target]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)